<%- include('../partials/header') %>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departure</th>
        <th>Flight Info</th>
      </tr>
    </thead>
    <tbody>
          <h3><%= flight.airline %></h3>
          <h3><%= flight.airport %></h3>
          <h3><%= flight.flightNo %></h3>
          <h3><%= flight.departs %></h3>
        </tr>
        <h2>Destinations</h2>
        <% flight.destinations.forEach(function(d) { %>
            <h3><%= d.airport%></h3>
            <h3><%= d.arrival%></h3>
        <% }) %>
        <form action="/flights/<%= flight._id %>/destinations" method="POST">
          <label for="">
              Airport:
          <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN" selected>DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
          </select>
        </label>
          <br>
          <label>
              Arrival:
              <input type="datetime-local" name="arrival">
          </label>
          <input type="submit" value="Add Destination">
        </form>

        <h2>Tickets</h2>
        <label for="tickets">Tickets</label>
                <form action="/flights/<%=flight._id%>/tickets/new">
                    <input type="submit" value="Add Tickets">
                    <label>Tickets</label>
                    <table>
                        <thead>
                            <tr>
                                <th>Seat</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tickets.forEach(function(t) { %>
                                <tr>
                                    <td>
                                        <%= t.seat %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%= t.price %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </form>

  <%- include('../partials/footer') %>